<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		    /* Style the top navigation bar */
        body {
            background: #ddd;
        }
		    .topnav {
		        overflow: hidden;
		        background-color: black;
		    }

		    /* Style the topnav links */
		    .topnav a {
		        float: left;
		        display: block;
		        color: #f2f2f2;
		        text-align: left;
		        text-decoration: none;
		    }
            
    </style>
</head>

<body>
<div class="topnav">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/index">Logout</a></li>
            </ul>
    </div>
</div>

<div class="w3-content w3-section" style="max-width:752px" style="max-height:420px">
  <img class="mySlides w3-animate-fading" src="/static/assets/images/cloud.png" style="width:100%">
  <img class="mySlides w3-animate-fading" src="/static/assets/images/db.png" style="width:100%">
  <img class="mySlides w3-animate-fading" src="/static/assets/images/big-data.png" style="width:100%">
  <img class="mySlides w3-animate-fading" src="/static/assets/images/etu.png" style="width:100%">
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 8000);    
}
</script>

</body>
<br><br>
<div class="search-container" style="text-align:center;">
    <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
